.DS_Store
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.de/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
/dist/
SHASUMS256.txt
**/package-lock.json
compile_commands.json
.envrc

node_modules/
.npmrc
vscode*
yarn.lock
TODO

example-mockup/
assets/example-mockup/

build/*.p12
BUILD-PRIVATE.md