@import "../assets/inter/inter.css";

@font-face {
   font-family: 'IBM Plex Mono';
   font-style: normal;
   font-weight: 600;
   src: local("IBM Plex Mono SmBld"), local("IBMPlexMono-SmBld"), url("../assets/ibm-plex-mono/IBMPlexMono-SemiBold.woff2") format("woff2");
}

html {
   font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
   html {
      font-family: 'Inter var', sans-serif;
   }
}

:root {
   /* --bg-color-1: #efefef; */
   --bg-color-1: #f3efef;
   --bg-color-2: #00000010;
   --leter-spacing-1: -0.03em;
   --border-radius-1: 5px;
   --fg-color-1: #121212;
   --fg-color-2: #eeeeee;
   /* --mockup-set: #1f79ff; */
   --mockup-set: #d34673;
   /* --mockup-set-hover: #1760cc; */
   --mockup-set-hover: #be2665;
   --render-view-border: #121212;
   --render-view-container: #ffffffe6;
   --tooltip-color: #fcfcfc;
   --tooltip-color-shadow: #0000001f;

}

@media (prefers-color-scheme: dark) {
   :root {
      --bg-color-1: #100e0f;
      --bg-color-2: #ffffff10;
      --fg-color-1: #cecece;
      --fg-color-2: #eeeeee;
      /* --mockup-set: #0a4db3; */
      --mockup-set: #aa1e6c;
      /* --mockup-set-hover: #0346a9; */
      --mockup-set-hover: #741e4d;
      --render-view-border: #555555;
      --render-view-container: #00000042;
      --tooltip-color: #292929;
      --tooltip-color-shadow: #ffffff08;
      color-scheme: dark;
   }

}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
   -webkit-user-select: none;
   user-select: none;
}

input, button, textarea, :focus {
   outline: none;
}

body {
   color: var(--fg-color-1);
   display: flex;
   flex-direction: column;
   background-color: var(--bg-color-1);
   padding: 1em 1.5em 1.5em 1.5em;
   margin: 0;
   height: 100vh;
   box-sizing: border-box;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   -webkit-app-region: drag;
   height: 6em;
   margin: -1em -1.5em 0 -1.5em;
   padding: 1em 1.5em 0 1.5em;
}

p {
   margin: 0;
   font-size: 0.75em;
}


svg path {
   fill: var(--fg-color-1);
}

.app-title {
   margin-left: -0.09em;
   font-weight: 700;
   font-size: 1.8em;
   letter-spacing: -0.05em;
   display: flex;
   align-items: center;
   align-self: baseline;
}

.app-title img {
   height: auto;
   width: 1em;
   margin-right: 0.2em;
}

.header-right {
   display: flex;
   flex-direction: column;
   align-items: end;
}

.window-controls {
   height: 2em;
   display: flex;
   flex-direction: row;
   gap: 0.4em;
   transform: translate(0.4em, -0.2em);
   -webkit-app-region: no-drag;
}

.window-controls button {
   border: none;
   padding: 0.5em;
   height: fit-content;
   cursor: pointer;
   transition: background-color .15s ease;
   border-radius: var(--border-radius-1);
}

.window-controls button:hover {
   background-color: var(--bg-color-2);
}

.window-controls button svg {
   width: .8em;
   height: auto;
}

.window-controls button svg path,
.window-controls button svg line {
   stroke: var(--fg-color-1);
}

#close-button svg {
   margin-top: 2px;
}

.btn-window-controls {
   background-color: var(--bg-color-1);
}

/*
#minimize-button svg {}
*/

#mockup-set-info {
   display: none;
   flex-direction: column;
   align-items: end;
}

.mockup-set-name {
   display: flex;
   align-items: center;
   font-weight: 600;
   font-size: 1.2em;
   letter-spacing: var(--leter-spacing-1);
   margin-bottom: .3em;
}


.mockup-set-name svg {
   margin-top: 2px;
   height: 1.1em;
   width: auto;
   margin-right: 0.2em;
}

#mockup-set-number {
   font-size: 0.7em;
   text-transform: uppercase;
   letter-spacing: -0.01em;
   font-weight: 500;
}

main {
   display: flex;
   margin-bottom: 1.5rem;
   /* flex-grow works with some min-height or height */
   min-height: 1em;
   flex-grow: 1;
}

.btn-1 {
   border: 1px solid var(--fg-color-1);
   padding: .4em .6em;
   background-color: var(--bg-color-1);
   color: var(--fg-color-1);
}

.btn-base {
   text-transform: uppercase;
   font-size: 0.75em;
   font-weight: 500;
   border-radius: var(--border-radius-1);
   letter-spacing: var(--leter-spacing-1);
   transition: background-color .1s ease;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}

.btn-base svg {
   width: 1.2em;
   height: auto;
   margin-right: .4em;
}

.btn-base:hover {
   background-color: var(--bg-color-2);
}

.load-mockup-button {
   border: none;
   background-color: var(--mockup-set);
   color: var(--fg-color-2);
   padding: .5em .6em;
}

.load-mockup-button svg path {
   fill: var(--fg-color-2);
}

.load-mockup-button:hover {
   background-color: var(--mockup-set-hover);
}

#error-core-container {
   display: none;
   overflow: auto;
   flex: 1;
}

.error-core {
   display: flex;
   flex-direction: column;
   font-size: .9em;
   flex: 1;
}

.error-core-header {
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 0.5em;
}

#error-core-file {
   margin-bottom: 1.4em;
   word-break: break-all;
}

#error-core-text {
   overflow: auto;
   font-size: 1em;
   padding-right: 2em;
}

code {
   font-size: .9em;
   font-family: 'IBM Plex Mono';
   font-weight: 600;
}

#app-core {
   display: none;
   flex-direction: column;
   flex-grow: 1;
}

.render-view-label {
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: var(--leter-spacing-1);
   font-size: 1em;
   margin-bottom: 0.5em;
}

.app-core-container {
   display: flex;
   flex-direction: row;

}

.render-view-container {
   background-color: var(--render-view-container);
}

#render-view {
   border: 1px solid var(--render-view-border);
   border-radius: var(--border-radius-1);
   height: 15em;
   width: 25em;
   background: url("../assets/render-view-background.png") 0% 0% / .8em .8em;
   display: flex;
   justify-content: center;
   align-items: center;
}


#render-view canvas {
   width: calc(100% + 1px) !important;
   height: calc(100% + 1px) !important;
   object-fit: contain;
}

.render-info {
   margin-left: .7em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 12em;
   align-items: flex-start;
}

.render-info-title {
   font-weight: 700;
   font-size: .95em;
   letter-spacing: var(--leter-spacing-1);
   margin-bottom: .3em;
   display: block;
}

.render-info-icon-text {
   display: flex;
   flex-direction: row;
   font-size: .8em;
   margin-bottom: .4em;
   align-items: center;
}

.render-info-icon-text span {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.render-info-latest {
   width: 100%;
}

.render-info-icon-text svg {
   height: 1.1em;
   width: auto;
   margin-right: 0.2em;
   margin-left: -.1em;
   flex: 0 0 auto;
}

.icon-document svg {
   margin-top: 1px;
}

.photoshop-info {
   width: 9rem;
   margin-left: auto;
}

.photoshop-info p {
   margin-bottom: 1.2em;
}

.render-info-status {
   margin-top: 0.8em;
}

.render-info button {
   margin-top: auto;
}

.render-quality-container {
   font-size: 0.75em;
   display: flex;
   align-items: center;
   margin-bottom: -0.4em;
}

.render-quality-container label {
   padding-left: .3em;
}

input#render-quality {
   margin: 0 0 0 -1px;
}

.render-quality-container svg {
   height: 1.2em;
   width: auto;
   padding: 0.4em;
}

.render-quality-tooltip {
   display: flex;
}

[data-tooltip] {
   position: relative;
   cursor: help;
   text-decoration: underline;
}

[data-tooltip][data-position=right]::before {
   top: -70%;
   left: 150%;
   transform: translateX(-20px);
}

[data-tooltip][data-position=bottom]::before {
   top: 150%;
   transform: translateY(-20px);
}

[data-tooltip][data-position=left]::before {
   top: -50%;
   right: 105%;
   left: auto;
   transform: translateX(20px);
}

[data-tooltip]:hover::before {
   transform: translate(0);
   opacity: 1;
}

[data-tooltip]::before {
   content: attr(data-tooltip);
   position: absolute;
   width: 18.5em;
   display: block;
   background: var(--tooltip-color);
   padding: 10px;
   top: -50px;
   white-space: break-spaces;
   box-shadow: 3px 3px 0px 1px var(--tooltip-color-shadow);
   border-radius: 3px;
   text-align: center;
   left: 0;
   z-index: 1;
   opacity: 0;
   pointer-events: none;
   transform: translateY(20px);
   transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
   margin-top: auto;
   justify-content: space-between;
}

footer, .footer-links, .martyr-version, .footer-right {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.footer-buttons {
   display: flex;
   align-items: center;
   gap: 0.8em;
}

.footer-links, .martyr-version {
   font-size: 0.75em;
}

.footer-links {
   margin-top: 0.22em;
   gap: 1.2em;
   text-transform: uppercase;
}

.footer-links a {
   text-decoration: none;
   background: no-repeat 0 95%;
   background-image: linear-gradient(currentColor, currentColor);
   background-size: 0% 0.05em;
   transition: background-size .3s cubic-bezier(.25, .1, .03, .99);
   padding-bottom: 0.22em;
   cursor: pointer;
}

.footer-links a:hover {
   background-size: 100% 0.05em;
}

.martyr-version {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 9.05rem;
   margin-left: 1.2rem;
}

.martyr-logo svg {
   width: 4.7em;
   height: auto;
   margin-top: 5px;
}

.martyr-logo svg path {
   fill: var(--fg-color-1);
}